<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="guia.movil.app"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	
    <application android:label="@string/appName" >
    <uses-library android:name="com.google.android.maps"></uses-library>
        <activity android:name="PresentationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="CategoryActivity"></activity>
        <activity android:name="CommentsActivity"></activity>
        <activity android:name="InformationActivity"></activity>
        <activity android:name="MapsActivity"></activity>
        <activity android:name="MainActivity"></activity>
    </application>
</manifest> 