<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="guia.movil.app"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	
    <application android:label="@string/appName" >
    <uses-library android:name="com.google.android.maps"></uses-library>
        <activity android:name="SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" 
                    android:screenOrientation="portrait"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="CategoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="CommentsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="CommentWriteActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="InformationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="app" android:host="twitt" />
			</intent-filter>
        </activity>
        <activity android:name="MapsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="PresentationActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="FacebookWallPostActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="CommentViewActivity"
            android:screenOrientation="portrait"></activity>
    </application>
</manifest> 